.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 48px;

  &__card {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}
